footer {
    margin-top: 50px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(153, 138, 125, 0.719);
}

h2 {
    font-size: 150%;
    font-style: italic;
}

.titulo-final {
    font-size: 19px;
    font-style: normal;
    color: rgba(224, 14, 14, 0.609);
}

main {
    margin-bottom: 50px;
}

.altoImagen {
    height: 950px;
}