
@media screen and (max-width:600px) {
    nav {
        .divUno {
            display: flex;
            flex-direction: column;
            .titulo {
                display: none; 
            }
            img {
                max-width: 50%;
            }
        }
         .divDos {
            display: flex;
            flex-direction: column;
            max-width: 100%;
            .menuUno {
                display: flex;
                flex-direction: column;
                gap: 2em;
                justify-content: left;
                align-content: flex-end;
            }
        }
    } 
    main {
        .contenedorUno {
            display: flex;
            flex-direction: column;
            #texto1 {
                display: flex;
                flex-direction: column;
                font-weight: 200%;
                max-width: 200%;
                padding: 5px;
                font-size: 150%;
                margin: 10px;
            }
            #imagenHotel {
                width: 100%;
            }
        }
        .contenedorDos {
            display: flex;
            flex-direction: column;
            #imagenHotelDos {
                width: 100%;
                margin: 0;
            }
            #texto2 {
                display: flex;
                flex-direction: column;
                font-weight: 200%;
                max-width: 200%;
                padding: 5px;
                font-size: 150%;
                margin: 10px; 
            }
        }
    }
    .carousel-inner {
        height: 40vh;
        .carousel-item {
        height: 40vh;
        } 
    }
    .contacto {
        margin-right: 30%;
        .col {
            width: 200%;
            margin-left: 55px;
        }  
    }
    footer {
    .redesUno {
        margin-top: 59%;
        }
}
}
    
    
    
@media screen and (max-width:320px) {
    nav {
        .divUno {
            display: flex;
            flex-direction: column;
            .titulo {
                display: none 
            }
        }
        .divDos {
            display: flex;
            flex-direction: column;
        .menuUno {
            display: flex;
            flex-direction: column;
        }
    }
}
    main {
        .contenedorUno {
            display: flex;
            flex-direction: column;
            #texto1 {
                display: flex;
                flex-direction: column;
                font-weight: 150%;
                max-width: 150%;
                padding: 5px;
                font-size: 90%;
                margin: 10px;
            }
            #imagenHotel {
                width: 100%;
            }
        }
        .contenedorDos {
            display: flex;
            flex-direction: column;
            #imagenHotelDos {
                width: 100%;
            }
            #texto2 {
                display: flex;
                flex-direction: column;
                font-weight: 150%;
                max-width: 150%;
                padding: 5px;
                font-size: 90%;
                margin: 10px; 
            }
        }
    }
    footer {
        margin-top: 200px;
        nav {
            display: flex;
            flex-direction: row;
        }
        
        .contenedorRedes {
            display: flex;
            flex-direction: row;
            .redesUno {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 2em;
                &__logoGmail {
                    max-width: 100%;
                    height: 60px;
                    margin-top: 70px;
                }
                &__logoInstagram {
                    max-width: 80%;
                    height: 60px;
                    margin-top: 70px;
                }
                &__logoWhatsapp {
                    max-width: 80%;
                    height: 60px;
                    margin-top: 70px;
                }
            }
        }
    }    
    .carousel-inner {
        height: 30vh;
        .carousel-item {
        height: 30vh;
        } 
    }
    .contacto {
        margin-right: 20px;
        .col-md-4 {
            margin-left: 80px;
        }
            .col {
                display: flex;
                flex-direction: row;
                width: 50%;
                margin-left: 55px;
                margin-top: 40px;
                margin-bottom: 25px;
                gap: 15px;
            }  
        }
    }