
@media screen and (max-width:600px) {
    nav {
        .divUno {
            display: flex;
            flex-direction: column;
            .titulo {
                display: none; 
            }
            img {
                max-width: 50%;
            }
        }
         .divDos {
            display: flex;
            flex-direction: column;
            max-width: 100%;
        }
         .menuUno {
            display: flex;
            flex-direction: column;
            gap: 2em;
            justify-content: left;
            align-content: flex-end;
        }
    } 
    main {
        .contenedorUno {
            display: flex;
            flex-direction: column;
            #texto1 {
                display: flex;
                flex-direction: column;
                font-weight: 200%;
                max-width: 200%;
                padding: 5px;
                font-size: 150%;
                margin: 10px;
            }
            #imagenHotel {
                width: 100%;
            }
        }
        .contenedorDos {
            display: flex;
            flex-direction: column;
            #imagenHotelDos {
                width: 100%;
                margin: 0;
            }
            #texto2 {
                display: flex;
                flex-direction: column;
                font-weight: 200%;
                max-width: 200%;
                padding: 5px;
                font-size: 150%;
                margin: 10px; 
            }
        }
    }
    .carousel-item {
        max-width: 100%;
        height: 50%; 
    }
    .contacto {
        margin-right: 20%;
    }
.redesUno {
margin-top: 59%;
}
.col-12 {
    gap: 20px;
}
}
    
    
    
@media screen and (max-width:320px) {
    nav {
        .divUno {
            display: flex;
            flex-direction: column;
            .titulo {
                display: none 
            }
        }
        .divDos {
            display: flex;
            flex-direction: column;
        .menuUno {
            display: flex;
            flex-direction: column;
        }
    }
}
    main {
        .contenedorUno {
            display: flex;
            flex-direction: column;
            #texto1 {
                display: flex;
                flex-direction: column;
                font-weight: 150%;
                max-width: 150%;
                padding: 5px;
                font-size: 90%;
                margin: 10px;
            }
            #imagenHotel {
                width: 100%;
            }
        }
        .contenedorDos {
            display: flex;
            flex-direction: column;
            #imagenHotelDos {
                width: 100%;
            }
            #texto2 {
                display: flex;
                flex-direction: column;
                font-weight: 150%;
                max-width: 150%;
                padding: 5px;
                font-size: 90%;
                margin: 10px; 
            }
        }
    }
    footer {
        display: flex;
        flex-direction: column;
        margin-left: 75px;
        .contenedorRedes {
            .redesUno {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 2em;
                .logoGmail {
                    max-width: 200px;
                    height: 40px;
                }
                
                .logoInstagram {
                    max-width: 20%;
                    height: 10%;
                }
                
                .logoWhatsapp {
                    max-width: 20%;
                    height: 10%;
                }
            }
        }
    }
    
} 
    
