.contenedorRedes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}
.contenedorRedes .redesUno {
  gap: 10rem;
}
.contenedorRedes .redesUno li {
  text-align: justify;
  position: relative;
  display: inline-block;
}
.contenedorRedes .redesUno li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
}
.contenedorRedes .redesUno__logoGmail {
  max-width: 400px;
  height: 50px;
}
.contenedorRedes .redesUno__logoInstagram {
  max-width: 200px;
  height: 50px;
}
.contenedorRedes .redesUno__logoWhatsapp {
  max-width: 200px;
  height: 50px;
}

nav {
  margin-bottom: 100px;
}
nav .divUno {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}
nav .divUno img {
  max-width: 250px;
  margin: 10px 50px;
}
nav .divUno .titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 230px;
  font-size: 214%;
  transition: all 1s;
}
nav .divUno .titulo:hover {
  transform: scale(1, 2);
}
nav .divDos {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px auto;
}
nav .divDos .menuUno {
  display: flex;
  flex-direction: row;
  gap: 100px;
}
nav .divDos .menuUno__itemUno {
  display: inline-block;
  position: relative;
  width: 175px;
  list-style: none;
  font-size: 20px;
}
nav .divDos .menuUno__link {
  display: block;
  padding: 15px 20px;
  color: sienna;
  font-family: sans-serif;
  text-decoration: none;
}
nav .divDos .menuUno__link:hover {
  color: black;
  text-decoration: underline;
}
nav .menuDos {
  position: absolute;
  z-index: 2;
  background: sienna;
  width: 10rem;
  display: none;
}
nav .menuDos__itemDos {
  list-style: none;
}
nav .menuDos__linkDos {
  display: block;
  padding: 15px;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: none;
}
nav .menuDos__linkDos:hover {
  color: black;
}

.menuUno li:hover .menuDos {
  display: block;
}

@media screen and (max-width: 600px) {
  nav .divUno {
    display: flex;
    flex-direction: column;
  }
  nav .divUno .titulo {
    display: none;
  }
  nav .divUno img {
    max-width: 50%;
  }
  nav .divDos {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  nav .divDos .menuUno {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: left;
    align-content: flex-end;
  }

  main .contenedorUno {
    display: flex;
    flex-direction: column;
  }
  main .contenedorUno #texto1 {
    display: flex;
    flex-direction: column;
    font-weight: 200%;
    max-width: 200%;
    padding: 5px;
    font-size: 150%;
    margin: 10px;
  }
  main .contenedorUno #imagenHotel {
    width: 100%;
  }
  main .contenedorDos {
    display: flex;
    flex-direction: column;
  }
  main .contenedorDos #imagenHotelDos {
    width: 100%;
    margin: 0;
  }
  main .contenedorDos #texto2 {
    display: flex;
    flex-direction: column;
    font-weight: 200%;
    max-width: 200%;
    padding: 5px;
    font-size: 150%;
    margin: 10px;
  }

  .carousel-inner {
    max-width: 100%;
    max-height: 30%;
  }

  .contacto {
    margin-right: 30%;
  }
  .contacto .col {
    width: 200%;
    margin-left: 55px;
  }

  footer .redesUno {
    margin-top: 59%;
  }
}
@media screen and (max-width: 320px) {
  nav .divUno {
    display: flex;
    flex-direction: column;
  }
  nav .divUno .titulo {
    display: none;
  }
  nav .divDos {
    display: flex;
    flex-direction: column;
  }
  nav .divDos .menuUno {
    display: flex;
    flex-direction: column;
  }

  main .contenedorUno {
    display: flex;
    flex-direction: column;
  }
  main .contenedorUno #texto1 {
    display: flex;
    flex-direction: column;
    font-weight: 150%;
    max-width: 150%;
    padding: 5px;
    font-size: 90%;
    margin: 10px;
  }
  main .contenedorUno #imagenHotel {
    width: 100%;
  }
  main .contenedorDos {
    display: flex;
    flex-direction: column;
  }
  main .contenedorDos #imagenHotelDos {
    width: 100%;
  }
  main .contenedorDos #texto2 {
    display: flex;
    flex-direction: column;
    font-weight: 150%;
    max-width: 150%;
    padding: 5px;
    font-size: 90%;
    margin: 10px;
  }

  footer nav {
    display: flex;
    flex-direction: row;
  }
  footer .contenedorRedes {
    display: flex;
    flex-direction: row;
  }
  footer .contenedorRedes .redesUno {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2em;
  }
  footer .contenedorRedes .redesUno__logoGmail {
    max-width: 100%;
    height: 60px;
    margin-top: 70px;
  }
  footer .contenedorRedes .redesUno__logoInstagram {
    max-width: 80%;
    height: 60px;
    margin-top: 70px;
  }
  footer .contenedorRedes .redesUno__logoWhatsapp {
    max-width: 80%;
    height: 60px;
    margin-top: 70px;
  }

  .carousel-item {
    max-width: 100%;
  }

  .contacto {
    margin-right: 20px;
  }
  .contacto .col-md-4 {
    margin-left: 80px;
  }
  .contacto .col {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-left: 55px;
    margin-top: 40px;
    margin-bottom: 25px;
    gap: 15px;
  }
}
footer {
  margin-top: 50px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(153, 138, 125, 0.719);
}

h2 {
  font-size: 150%;
  font-style: italic;
}

.titulo-final {
  font-size: 19px;
  font-style: normal;
  color: rgba(224, 14, 14, 0.609);
}

main {
  margin-bottom: 50px;
}

.altoImagen {
  height: 950px;
}

.contacto {
  height: 70vh;
}
.contacto .formulario-titulo {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 40px;
  margin-left: 50px;
}
.contacto .col-md-4 {
  margin-left: 50px;
}
.contacto .col-md-4 .cuadroDeConsulta {
  width: 60%;
  height: 70%;
  border: 2px solid;
}
.contacto .col-12 {
  margin-left: 50px;
}
.contacto .col-12 .boton {
  width: 10%;
  justify-content: center;
}

.contenedorUno {
  display: flex;
  flex-direction: row;
}
.contenedorUno #texto1 {
  font-weight: 200%;
  max-width: 50%;
  padding: 10px;
  font-size: 150%;
  margin: 25px;
}
.contenedorUno #imagenHotel {
  width: 95%;
}

.contenedorDos {
  display: flex;
  flex-direction: row;
}
.contenedorDos #imagenHotelDos {
  width: 95%;
  margin: 50px;
}
.contenedorDos #texto2 {
  font-weight: 200%;
  max-width: 50%;
  padding: 10px;
  font-size: 150%;
  margin: 25px;
}

body {
  font-family: sans-serif;
}

.error-mensaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.mensaje-contenedor {
  text-align: center;
}
.mensaje-contenedor h1 {
  font-size: 30px;
}
.mensaje-contenedor h2 {
  font-size: 30px;
  color: black;
}
.mensaje-contenedor .logoTierra {
  max-width: 70px;
}

/*# sourceMappingURL=index.css.map */
