footer {
    margin-top: 50px;

.contenedorRedes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    .redesUno {
        gap: 10rem;
        
        li {
            text-align: justify;
            position: relative;
            display: inline-block;
            
            a {
                display: block;
                padding: 15px 20px;
                text-decoration: none;
            }
        }
            &__logoGmail {
                max-width: 400px;
                height: 50px;
            }
            &__logoInstagram {
                max-width: 200px;
                height: 50px;
            }
            &__logoWhatsapp {
                max-width: 200px;
                height: 50px;
            }
            }
        }
    }