nav {
    margin-bottom: 100px;
    
    .divUno {
        display: flex;
        flex-direction: row;
        padding-bottom: 50px;
        
        img {
            max-width: 250px;
            margin: 10px 50px;
        }
    
        .titulo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 230px;
            font-size: 214%;
            transition: all 1s;
        }
        
        .titulo:hover {
            transform: scale(1, 2);
            }
        
    }
    .divDos {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0px auto;
        .menuUno {
            display: flex;
            flex-direction: row;
            gap: 100px;
        &__itemUno {
            display: inline-block;
            position: relative;
            width: 175px;
            list-style: none;
            font-size: 20px;
        }
        &__link {
            display: block;
            padding: 15px 20px;
            color: sienna;
            font-family: sans-serif;
            text-decoration: none;
        }
        &__link:hover {
            color: black;
        }
        }
    }
    .menuDos {
        position: absolute;
        z-index: 2;
        background: sienna;
        width: 10rem;
        display: none;
        &__itemDos {
            list-style: none;
        }
        &__linkDos {
            display: block;
            padding: 15px;
            color: white;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            text-decoration: none;
            &__linkDos:hover {
                color: black;
            }
        }
    }
    }
    
.menuUno li:hover .menuDos {
    display: block;
}
