.contenedorUno {
    display: flex;
    flex-direction: row;
    #texto1 {
        font-weight: 200%;
        max-width: 50%;
        padding: 10px;
        font-size: 150%;
        margin: 25px;
    }
    #imagenHotel {
        width: 95%;
  }
  }
.contenedorDos {
    display: flex;
    flex-direction: row;
    #imagenHotelDos {
        width: 95%;
        margin: 50px;
    }
    #texto2 {
        font-weight: 200%;
        max-width: 50%;
        padding: 10px;
        font-size: 150%;
        margin: 25px;
    }
}
  
  

  
  
 

  